.left-logo {
  float: left
}

.right-logo {
  float: right
}

.App-header {
  background-color: #222;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  /* font-size: 1.5em; */
  vertical-align: middle; /*Vertically centered*/
  text-align: center; /* Horizontally centered */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70%;
}
