.Header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em;

  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  align-self: center;
  font-size: 6vw;
  font-weight: bold;
  font-style: italic;
}

.animate-logo-fast {
  animation: logo-spin infinite 10s linear;
}

.animate-logo-slow {
  animation: logo-spin infinite 15s linear;
}

.fit-logo {
  max-width:100%;
  max-height:100%;
  margin:auto;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}